{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            
        {% endblock title %}
        | ColabSchedule
            
    </title>

    
    {% block head %}
        
    {% endblock head %}
        
</head>
<body>

    {% include 'nav.html' %}

    <main>
        
        {% block main %}
            
        {% endblock main %}
            
    </main>

    <footer>
        
        {% block footer %}
            
        {% endblock footer %}
            
    </footer>
    

    
    {% block bottom %}
        
    {% endblock bottom %}
        
</body>
</html>