:root {
    --color-primary: #1F4E5F;
    --oxy: 'Oxygen', sans-serif;
    --pop:'Poppins', sans-serif;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

nav ul li {
    text-align: center;
    list-style-type: none;
    font-size: .95rem;
    font-family:var(--oxy);
    color: var(--color-primary);
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}